    <div class="page-sc">
      <div class="text-half">
        <div class="b-tx-ad">
          <div class="tx-ad-md">
            Bienvenue chez <div class="yamima">Ya Mima
            </div>
            <button class="btn-ord" [routerLink]="'/service/commande/panier'">Commander maintenant</button>
          </div>
        </div>
      </div>
      <div class="sec-img">
        <div class="y-slogan-">
          <span>Tout le monde dit que le couscous de leurs mamans est le meilleur,
            et toutes les mamans disent que le
            meilleur chez <p class="y-slog-yamima">Ya Mima</p></span></div>
        <div class="pl-1-side">
        </div>
      </div>
    </div>
     <div class="page-sc-1">
      <div class="sec-img-3">
        <div class="y-slogan-dark">
          <span>Ijja tounsia<p class="y-slog-yamima">Ya Mima</p></span></div>
        <img class="home_pic"  src="/assets/images/home/home_pic2.jpg" alt=""/>
      </div>
      <div class="sec-img-3">
        <img class="home_pic" src="/assets/images/home/home_pic3.jpg" alt=""/>
        <div class="y-slogan-dark">
          <span>Lablebi tounsi<p class="y-slog-yamima">Ya Mima</p></span></div>
      </div>
      <div class="sec-img-3">
        <div class="y-slogan-dark">
          <span>Slata mechwia tounsia<p class="y-slog-yamima">Ya Mima</p></span></div>
        <img class="home_pic" src="/assets/images/home/home_pic4.jpg" alt=""/>
      </div>
    </div>
