.page-sc , .page-sc-1{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 7rem);
}
.page-sc-1 {
  color:var(--color-grey-light-2)
}
.sec-img {
  width:100%;
  min-height: calc(100vh - 7rem);
  display: flex;
  position: relative;
  flex: 0 0 50%;
}

.sec-img-3 {
  width:100%;
  min-height: calc(100vh - 7rem);
  display: flex;
  position: relative;
  flex: 0 0 33.33%;
}

.pl-1-side {
  width:100%;
  height: 100%;
  background: url("/assets/images/home/couscous_side_.jpg") no-repeat;
  background-size: cover;
}

.b-tx-ad{
  margin: auto;
  width: 100%;
  height: 40rem;
  // border-radius: 2rem solid white;
  // color: var(--color-primary-dark);
  padding: 5rem;
  display: table;
  // background-color: #0000006e;
    background-color: #ffffff36;
}
.tx-ad-md{
  // color: var(--color-primary-dark);
  width: 100%;
  height: 60%;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  background: var(--shadow-dark);
  font-family: 'DancingScript-Regular';
  display: table-cell;
  vertical-align: middle;
}
.yamima {
  font-family: fantasy;
  color: transparent !important;
  -webkit-text-stroke: 1px white;
}
.text-half {
  width: 100%;
  min-height: calc(100vh - 7rem);
  display: flex;
  flex: 0 0 50%;
}
.btn-ord{
  background-color: var(--color-primary);
  width: 20rem;
  height: 5.5rem;
  border: 1px var(--color-grey-dark);
  border-radius: 4rem;
  text-align: center;
  line-height: 5.5rem;
  font-size: large;
  font-weight: 600;
  font-family: 'DancingScript-Regular';
  margin: 2rem auto;
  cursor: pointer;
}


.y-slogan- , .y-slogan-dark {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 40rem;
  font-size: 36px;
  padding: 5rem;
  // background-color: #0000006e;
  background-color: #ffffff36;
  text-align: center;
  font-family: "DancingScript-Regular";
  display: table;
   span {
    display: table-cell;
    vertical-align: middle;
   }
}
.y-slogan-dark {
  background-color: #0000006e;
}
.y-slog-yamima{
  font-weight: 600;
  white-space: nowrap;
}

.home_pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
