<div class="sidebar">
  <ul class="side-nav">

    <li class="side-nav__item side-nav__item--active">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="/assets/img/sprite.svg#icon-home"></use>
        </svg>
        <span> Produits </span>
      </a>
    </li>

    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="/assets/img/sprite.svg#icon-star"></use>
        </svg>
        <span> Commandes </span>
      </a>
    </li>

    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="/assets/img/SVG/pay.svg#pay-icon"></use>
        </svg>
        <span> Paiement </span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="/assets/img/SVG/delivery.svg#delivery-icon"></use>
        </svg>
        <span> Livraison </span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <svg class="side-nav__icon">
          <use xlink:href="/assets/img/SVG/map.svg#map-icon"></use>
        </svg>
        <span> Carte </span>
      </a>
    </li>

  </ul>

  <div class="legal">
    &copy; 2023, all rights reserved.
  </div>
</div>
