<div
  [ngClass]="isInScroll ? 'header scroll' : 'header'">
  <img src="/assets/img/logo.png" alt="" class="logo" [routerLink]="'/home'">
  <form action="#" class="search">
    <input type="text" class="search__input" placeholder="search hotels">
    <button class="search__button">
      <svg class="search__icon">
        <!-- https://icomoon.io -->
        <use xlink:href="/assets/img/sprite.svg#icon-magnifying-glass"></use>
      </svg>
    </button>
  </form>
  <nav class="user-nav">
    <div class="user-nav__icon-box">
      <svg class="user-nav__icon">
        <use xlink:href="/assets/img/sprite.svg#icon-bookmark"></use>
      </svg>
      <span class="user-nav__notification">3</span>
    </div>

    <div class="user-nav__icon-box">
      <svg class="user-nav__icon"  > 
        <use xlink:href="/assets/img/sprite.svg#icon-chat"></use>
      </svg>
      <span class="user-nav__notification">1</span>
    </div>
    <div class="user-nav__icon-box">
      <svg class="user-nav__icon" [routerLink]="'/service/commande/panier'">
        <use xlink:href="/assets/img/SVG/box.svg#box-icon"></use>
      </svg>
      <span class="user-nav__notification">2</span>
    </div>
    <div class="user-nav__icon-box">
      <svg class="user-nav__icon">
        <use xlink:href="/assets/img/SVG/panier.svg#panier-icon"></use>
      </svg>
      <span class="user-nav__notification">1</span>
    </div>
    <div class="user-nav__user">
      <img src="/assets/img/user.jpg" alt="" class="user-nav__user-photo">
      <span class="user-nav__user-name">username</span>
    </div>
  </nav>
</div>
