<h2 style="color: black">
	Tableau des produits
</h2>
 <p-button (click)="showBasicDialog()" icon="pi pi-plus" label="Ajouter" iconPos="right" ></p-button>
	<p-dialog [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000" #myDialog>

		<ng-template pTemplate="header" >
			Ajouter Produit
		</ng-template>
		<div >
			
				
			<h4>Nom DU produit</h4>
		 <span class="p-float-label"  >
			<input id="nameproduct" name ="nomProduit" type="text" [maxlength]="10" required pInputText [(ngModel)] = "produit.nameproduct" requiredMessage="nom de produit obligatoire" >
		</span>
		</div>
		<div>
			<span class="p-float-label" >
			<h4>Ingredients</h4>
			<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="produit.ingredients" required></textarea>
		</span>
		</div>
		<div>
			<h4>Prix</h4>
			<span class="p-float-label">

			<input id="price" type="text" pInputText [(ngModel)] = "produit.price" required> 
				 <label for="price">Prix</label>
			</span>
			</div>
			<div>
				<span class="p-float-label">
					<h4>Taille DU Produit </h4>
					<p-dropdown [options]="selectedSize" placeholder="-- Sélectionnez une option --" [(ngModel)]="selectedValue"  optionLabel="label"></p-dropdown>

					
		         </span>
				</div>
				<div>
					<h4> Statut</h4>
					<span class="p-float-label" >
						<p-toggleButton onLabel="Disponible" offLabel="Non Disponible" 
						onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right" [(ngModel)]="checked"></p-toggleButton>						
					</span>
					</div>
					<div>
						<h4> Description </h4>
						<span class="p-float-label">
							<input id="description" type="text" pInputText [(ngModel)] = "produit.description" required>
							 <label for="description">Description</label>
						</span>
						</div>
		<ng-template pTemplate="footer">
			<p-button icon="pi pi-check"  (click)="ajouterOumodifierProduit(produit)" label="Yes" styleClass="p-button-text"></p-button>
			<p-button icon="pi pi-times" (click)="closeDialog()" label="No"></p-button>
		</ng-template>
</p-dialog>
<p-toast></p-toast>

<p-table #myTab [value]="listProduct">
	<ng-template pTemplate="header">
		<tr>
			<th>Nom Prodduit</th>
			<th>Ingredients</th>
			<th> Prix</th>
			<th>Statut</th>
			<th>Taille Produit</th>
			<th>Description</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-produit >
		<tr>
			<td>
				{{ produit.nameproduct }}
			</td>
			<td>
				{{ produit.ingredients }}
			</td>
			<td>
				{{ produit.price }}
			</td>
			<td>
				{{ produit.statut ? 'Available' : 'Not Available' }}
			</td>
			<td>
				{{ produit.sizeproduct == 'L' ? 'Large' : produit.sizeproduct == 'S' ? 'Small' : 'Medium' }}

			</td>
			<td>
				{{ produit.description }}
			</td>
			<td>
				<p-button (click)="showBasicDialog3(produit)" icon="pi pi-user-edit" label="Modifier" iconPos="right" ></p-button>
				<p-dialog [(visible)]="displayBasic3" [style]="{width: '50vw'}" [baseZIndex]="10000"  [modal]="true" [responsive]="true" >

					<ng-template pTemplate="header" let-produit >
						Modifier Produit
					</ng-template>
					<div class="form-group"   >
						<span class="p-float-label"   >
						   <input id="nameproduct" [maxlength]="8" type="text" pInputText [(ngModel)] = " selectedProduct.nameproduct" required >
						   <!-- <label for="nameProduct">Nom Produit</label> -->
					   </span>
					   </div>

					   <div>
						<span class="p-float-label" >
						<h4>Ingredients</h4>
						<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="selectedProduct.ingredients"></textarea>
					</span>
					</div>
					   <div>
						<h4> Prix </h4>
						   <span class="p-float-label">
							   <input id="price" type="text" pInputText [(ngModel)] = "selectedProduct.price" >
							   <!-- <label for="price">Prix</label> -->
						   </span>
						   </div>
                       <div>
					    <span class="p-float-label">
							<h4>Taille  DE Produit </h4>
							<p-dropdown [options]="selectedSize"   [(ngModel)]="selectedProduct.sizeproduct" ></p-dropdown>
							 </span>
								</div>
								<div>
									<h4> Statut</h4>
									<span class="p-float-label" >
										<p-toggleButton onLabel="Disponible" offLabel="Non Disponible" 
										onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"  [(ngModel)]="selectedProduct.statut" ></p-toggleButton>						
									</span>
									</div>
								   <div> 
									<h4> Description </h4>
									   <span class="p-float-label">
										   <input id="description" type="text" pInputText [(ngModel)] = " selectedProduct.description" >
									   </span>
									   </div>

					<ng-template pTemplate="footer">
						<p-button icon="pi pi-check" (click)="ajouterOumodifierProduit(selectedProduct)" label="Yes" styleClass="p-button-text"></p-button>
						<p-button icon="pi pi-times" (click)="closeDialog()" label="No"></p-button>
					</ng-template>
				</p-dialog>
				<p-toast></p-toast>

			</td>

				 <td>
					<p-button (click)="showBasicDialog2(produit)" icon="pi pi-trash" label="Supprimer" iconPos="right" ></p-button>
					<p-dialog [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">

						<ng-template pTemplate="header" >
							Supprimer Produit
						</ng-template>
						<ng-template pTemplate="footer">
							<p-button icon="pi pi-check" (click)="supprimerProduit(selectedProduct)" label="Yes" styleClass="p-button-text"></p-button>
							<p-button icon="pi pi-times" (click)="closeDialog()"label="No"></p-button>
						</ng-template>
					</p-dialog>
					<p-toast></p-toast>

				</td>
		</tr>
	</ng-template>
</p-table>



