<div class="footer-container">
  <div class="legal">
    &copy; 2023, all rights reserved.
  </div>
  <div class="socials">
    <fa-icon [icon]="faFacebook"></fa-icon>
    <fa-icon [icon]="faInstagram"></fa-icon>
    <fa-icon [icon]="faTiktok"></fa-icon>
  </div>
  <div class="footer-nav">
    <ul>
      <li>horaire de travail</li>
      <li>contact</li>
      <li>à propos</li>
      <li>equipe</li>
      <li>jours des offres</li>
      <!--(on choisit des jours fixe de l'année ou on fait des exceptions de prix)-->
    </ul>
  </div>
</div>
