.custom-card {
  width: 50%;
  height: 50%;
}
.star:before {
  content: "\2605";
  color: gold;
}
.minus-btn,
.plus-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: violet;
  font-size: 20px;
  color: black;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus-btn:hover,
.plus-btn:hover {
  background-color: #ddd;
}

.quantity-input {
  width: 50px;
  height: 30px;
  padding: 0 10px;
  border: none;
  border-radius: 0;
  background-color: violet;
  font-size: 16px;
  color: #333;
  text-align: center;
  outline: none;
}

.quantity-input:focus {
  box-shadow: none;
}
.quantity-container {
  display: flex;
  align-items: center;
}

.minus-btn,
.plus-btn,
.quantity-input {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
// my-component.scss

.my-card {
  background-color: white; // Définit la couleur de fond de la carte sur blanc
  border-radius: 5px; // Définit le rayon des bords de la carte sur 5px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ajoute une ombre à la carte

  .ui-button {
    background-color: blue; // Définit la couleur de fond des boutons sur bleu
    color: white; // Définit la couleur du texte des boutons sur blanc
    border: none; // Supprime les bordures des boutons
    margin-right: 5px; // Ajoute une marge à droite pour séparer les boutons
  }
}

/** data view **/
:host ::ng-deep {
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .product-name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .product-description {
    margin: 0 0 1rem 0;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .product-category {
    font-weight: 600;
    vertical-align: middle;
  }

  .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-right: 3px solid var(--color-blue-dark-1);
    background-color: var(--color-grey-light-1);
    img {
      width: 17rem;
      height: 14rem;
      box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
      margin-right: 2rem;
    }
    .product-list-detail {
      flex: 1 1 0;
    }

    .p-rating {
      margin: 0 0 0.5rem 0;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      align-self: flex-end;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .p-button {
      margin-bottom: 0.5rem;
    }
  }

  .product-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;

    .product-grid-item-top,
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img {
      width: 100%;
      height: 30rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 1rem 0;
    }

    .product-grid-item-content {
      text-align: center;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.product-grid-item .card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
  height: 30rem;
  width: 42rem;
}

.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      width: 75%;
      margin: 1rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

.product-badge.status-instock {
  background: #c8e6c9;
  color: #256029;
}

.product-badge.status-outofstock {
  background: #ffcdd2;
  color: #c63737;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  height: 100%;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
  min-width: 20rem;
}

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .category-item-value {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    display: inline-flex;
    margin-right: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-color-text);

    img.flag {
      width: 17px;
    }
  }

  .category-placeholder {
    padding: 0.25rem;
  }
}
